@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata");
@import url("https://fonts.googleapis.com/css2?family=Metal+Mania");

@font-face {
    font-family: "Booter - zero zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-size: normal;
}   

* {
    box-sizing: border-box;
    font-family: Lobster;
    color: rgba(255, 255, 255, 0.);  
}

html, body {
    margin: 0;
    padding: 0;
}

.WebContainer{
    width:100%;
    min-width:1000px;
    height:auto;
}

 .grid { 
    /* background-image:url("Imagine2 Caramizi.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  */
    font-family: Lobster;
    /*font-size: 1.8em;*/

  }

.nav ul {
    margin: 0;
    font-size: 3vw;
    padding-left: 2vw;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: #eae6f0dd;
    text-decoration:none ;
}

.main nav {
    text-align: center;
    font-size: 3vw;
    font-weight: lighter;
    border-bottom: 1px solid rgba(246, 244, 243, 0.344);
}

.main nav li {
    padding: 0 5%;
    display: inline;
}
 
.nav a:hover {
    background-color: rgba(248, 135, 135, 0.33);
}

.nav .call-button > img {
    font-size: 3vw;
    
}

.nav .contact {
    align-self:flex-end;
}

/* .contact li {
    color: rgb(246, 242, 238);
    font-size: 1em;
    font-weight: lighter;
    /* display:inline block; */
    /* margin-inline-start: 85% ;
    } */ 

.main-header {
    background-color: rgba(85, 6, 6, 0.6);
    background-image: url("Imagini/Imagine Caramida.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom:20px;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.numele-pizzeriei {
    text-align: center;
    margin:0;
    font-size: 4vw;
    font-family: "booter - zero zero";
    font-weight: normal;
    color:rgb(244, 242, 248)
}

.numele-pizzeriei-large {
    font-size: 13vw;
}

.content-section, .content2-section {
    margin-top: 0 ;
    font-size: 1.2em;
    text-align: justify;
}

.column {
    float: left;
    width: 50%;
    padding: 6px;
}

.row {
    content: "";
    clear: both;
    display: table;
    margin-top: 20px;
}


.container {
    /* display: flex; */
    max-width: 50%;
    /*margin-left: 20px;*/
    padding: 0 4em;
}

.section-header {
    font-family: "metal mania";
    font-weight: normal;
    color:rgb(101, 14, 14);
    text-align:center;
    font-size: 4vw;
    margin-bottom: 4vw;

}

.semnul-logo-Maria {
    float: left;
    width: 100%;
    margin: 15px 0;
    border-radius: 50%;
}

.main-footer {
    background-image: url("Imagini/Imagine Caramida.jpg");
    background-size: cover;
    color: antiquewhite;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.main-footer li{
    padding: 1 .9em;
}

.main-footer ul{
    padding: 0px;
}

 .footer-nav img {
    width: 10vw;
    /* height: 10vw;      */
}

.grid {
    display: flex;
    margin-top: -100px;
    /*gap: 30px*/   
}

/* .content2-section > img {
    margin-top: 20px;
}  */

.btn {
    text-align:center;
    vertical-align: middle;
    padding: .5em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 4px solid rgba(218, 137, 94, 0.789);
    background-color: rgba(197, 76, 16, 0.305);
    font-size: 1.5em;
    font-weight: lighter;
    border-radius: .3em;

}

.btn-header:hover {
    background-color: rgba(214, 108, 67, 0.688);
}


.pizza-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

/* pentru a elimina last border din sortimentatie */
.pizza-row:last-child {
    border-bottom: none;
}

.pizza-item {
    display: absolute;
    padding-right: .5em;
}

.sortiment-pizza {
    color: #555;
    font-weight: bold;
    width: 16%;
}

.gramaj {
    width: 12%;
}

.pizza-button {
    width: 100px;

}

.btn-primary {
    color: rgb(13, 11, 11);
    background-color: rgba(140, 42, 6, 0.48);
    border: none;
    border-radius: .3em;
    font-weight:bold ;
    font-size: 1em;
}

.btn-primary:hover {
    background-color:rgba(214, 108, 67, 0.688);
}


.content-section2 {
    /* display: inline-flexbox; */
    padding: 5% 10%;
}

.cart-header {
    font-weight: bold;
    font-size: 3vw;
    color: #333;
 
}

.cart-items {
    display: flex;
    flex-direction: column;
}

.cart-column {
    display: flex;
    align-items:center;
    border-bottom: 1px solid black;
    margin-right: .5em;
    margin-left: .5em;
    padding-bottom: 20px;
    margin-top: 10px;
    flex-basis: 66%;
  
}

.cart-price {
    color: #333;
    display:grid;
    min-height: 5vw;
    font-size: 2vw;
    text-align: center;
}

.cart-row {
    display:flex;
    margin-top: 20px ;
  
}

.cart-item-row {
    display:flex;
    margin-top: 20px ;
  
}

.cart-item-column {
    display:flex;
    gap: 10px;
    align-items:flex-start;
    border-bottom: 1px solid black; 
    margin-right: .5em;
    margin-left: .5em;
    padding-bottom: 20px;
    margin-top: 10px;
}

.cart-item-title {
    flex-grow: 5;
    width: 15%;
    font-size: 2.5vw;
    color:#333;
}

.cart-item-price {
    flex-grow: 1;
    width: 2%;
    font-size: 2.5vw;
    color:#333;
}

.cart-item-quantity {
    flex-grow: 1;
    width: 15%;
    font-size: 2.5vw;
    color:#333;
}

.item-ingredients {
    align-self:baseline;
    text-align:justify;
    font-size: 2vw;
    color: #333;
    margin-bottom: 10px;
    padding: 10px 10px 0 10px;
    width: 30vw;
}

.carousel-caption  p {
    margin: 10px 0 0 0;
    font-family: Lobster;
    font-weight: bold;
    font: size 1.5em; ;
    color:#FFF9CA;
    text-shadow:2px 2px 4px  #000;
}

.carousel-caption  h5 {
    margin: 10px 0 0 0;
    font-family: Lobster;
    font-weight: bold;
    font: size 1.5em; ;
    color:#FFF9CA;
    text-shadow:2px 2px 4px  #000;
}


figure {
    padding: 5px 5px 5px;
    
    } 
 figcaption {
    font-size:large;
}

.btn-danger {
    color: antiquewhite;
    background-color: brown;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    
}

.btn-danger-hover {
    background-color: burlywood;
    align-self: flex-end;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: .3em;
    border: 2px solid rgba(95, 50, 7, 0.608);
    background-color: bisque;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom:  1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 15px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.content-section .carousel {
    margin: 0 auto;
    width: 80% ;
    max-height:min-content;
    margin-bottom: 15px;
}

/* sticky note */

.container-sticky-1 {
    position: sticky;
    width: 15%;
    min-width: 190px;
    text-align: center;
    font-weight: bold;
    top: 3rem;
    margin: 0 auto;
    color: brown;
  }

  .container-sticky-2 {
    position: sticky;
    width: 15%;
    min-width: 190px;
    text-align: center;
    top: 8rem;
    margin: 0 auto;
    color: #a1816c;
    text-shadow: 1px 1px 2px #d555;
  }

  
.container-sticky-3 {
    display: flex;
    position: sticky;
    /* width: 15%; */
    text-align: center;
    font-weight: bold;
    font-size: small;
    top: 5rem;
    float: right;
    /* align-self: flex-end; */
    color: #a1816c;
    text-shadow: 1px 1px 2px #d555;
  }

  .container-sticky-4 {
    display: flex;
    position: sticky;
    text-align: center;
    top: 4rem;
    float: left;
    color: #a1816c;
    text-shadow: 1px 1px 2px #d555;
  }

  a {
    color: #333;
    text-decoration: none;
  }

  .container > h2 {
    margin-top: 0px;
  }

  .carousel > h2 {
    margin: 30px;
  }

  
.fab, .fa {
    font-size: 3vw;
    color:#fff;
    padding-right: 2vw;
}

@media only screen and (max-width: 1000px) {
    .item-ingredients {
        align-self:baseline;
        text-align:justify;
        font-size: 3.5vw;
        color: #333;
        margin-bottom: 10px;
        padding: 0 10px 0 10px;
        width: 100%;
    }
    
    .cart-quantity {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 10%;
        font-size: 15px;
    }

    
    .grid {
        display: inherit;
        margin-top: 0px;
    }
    
    .container {
        max-width: 100%;
    }

    .content-section2 {
        padding: 2% 2%;
    }

    .cart-column {
        flex-wrap: wrap;
        align-items: center;
        border-bottom: 1px solid black;
        margin-right: .5em;
        margin-left: .5em;
        padding-bottom: 5px;
        margin-top: 10px;
    }

    figure > img {
        padding: 5px;
        /* width: 100%; */
        height: 100%;
    } 

    .cart-price {
        color: #333;
        display:grid;
        min-height: 5vw;
        font-size: 20px;
        width:40%;
        vertical-align: bottom;
    }
}
    @media only screen and (max-width: 1000px) {
    .nav .call-button > img {
        width: 8vw;
    }

    .nav .call-button {
        font-size: 3vw;
    }

    }


@media only screen and (max-width: 1000px) {
    .container-sticky-4 {
        display:flex; 
        position: sticky;
        text-align: center;
        font-weight: bold;
        font-size: small;
        top: 5rem;
        float: right;
        color: #a1816c;
        text-shadow: 1px 1px 2px #d555
    }

    .container-sticky-4 > p {
        position:fixed;
        top: 30rem;
        margin-block-start:1px;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
}

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1rem;
      line-height:1.2 ;

    }
  
    .featurette-heading {
      font-size: 50px;
      color: #333;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

@media only screen and (max-width: 1000px) { 
    .fab .fa {
        display:flex;
        font-size: 8vw;
        color:rgb(243, 238, 238);
        padding-right:10px;
    }
}

@media only screen and (max-width: 1000px) { 
    .numele-pizzeriei {
        text-align: center;
        margin:0;
        font-size:8vw; 
    }
   }
  
    