@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata");
@import url("https://fonts.googleapis.com/css2?family=Metal+Mania");

@font-face {
    font-family: "Booter - zero zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-size: normal;
}   

* {
    box-sizing: border-box;
    font-family: Lobster;
    color: rgba(255, 255, 255, 0.);  
}

html, body {
    margin: 0;
    padding: 0;
}

 .grid { 
    /* background-image:url("Imagine2 Caramizi.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  */
    font-family: Lobster;
    /*font-size: 1.8em;*/
  }

.nav ul {
    margin: 0;
    font-size: 3vw;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: #eae6f0dd;
    text-decoration:none ;
}

.main nav {
    text-align: center;
    font-size: 4vw;
    font-weight: lighter;
    border-bottom: 1px solid rgba(246, 244, 243, 0.344);
}

.main nav li {
    padding: 0 5%;
    display: inline;
}
 
.nav a:hover {
    background-color: rgba(248, 135, 135, 0.33);
}

.nav .call-button {
    font-size: 3vw;
    
}


.nav .contact {
    align-self:flex-end;
}



/* .contact li {
    color: rgb(246, 242, 238);
    font-size: 1em;
    font-weight: lighter;
    /* display:inline block; */
    /* margin-inline-start: 85% ;
    } */ 

.main-header {
    background-color: rgba(85, 6, 6, 0.6);
    background-image: url("Imagini/Imagine Caramida.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom:20px;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.numele-pizzeriei {
    text-align: center;
    margin:0;
    font-size: 4vw;
    font-family: "booter - zero zero";
    font-weight: normal;
    color:rgb(244, 242, 248)
}

.numele-pizzeriei-large {
    font-size: 10vw;
}

.content-section, .content2-section {
    margin-top: 0 ;
    font-size: 1.2em;
    text-align: justify;
}

.column {
    float: left;
    width: 50%;
    padding: 6px;
}

.row {
    content: "";
    clear: both;
    display: table;
    margin-top: 20px;
}


.container {
    max-width: 50%;
    /*margin-left: 20px;*/
    padding: 0 4em;
}

.section-header {
    font-family: "metal mania";
    font-weight: normal;
    color:rgb(101, 14, 14);
    text-align:center;
    font-size: 3vw;

}

.semnul-logo-Maria {
    float: left;
    width: 100%;
    margin: 15px 0;
    border-radius: 50%;
}

.main-footer {
    background-image: url("Imagini/Imagine Caramida.jpg");
    background-size: cover;
    color: antiquewhite;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.main-footer li{
    padding:2vw;
}

.main-footer ul{
    padding: 0px;
}

 .footer-nav img {
    width: 70px;
    height: 50px;     
}

.grid {
    display: flex;
    margin-top: -100px;
    /*gap: 30px*/   
}

/* .content2-section > img {
    margin-top: 20px;
}  */

.btn {
    text-align:center;
    vertical-align: middle;
    padding: .5em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 4px solid rgba(218, 137, 94, 0.789);
    background-color: rgba(197, 76, 16, 0.305);
    font-size: 1.5em;
    font-weight: lighter;
    border-radius: .3em;

}

.btn-header:hover {
    background-color: rgba(214, 108, 67, 0.688);
}

.content-section2 {
    padding: 5% 5%;
    margin-left: 0%;
}

.pizza-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

/* pentru a elimina last border din sortimentatie */
.pizza-row:last-child {
    border-bottom: none;
}

.pizza-item {
    display: absolute;
    padding-right: .5em;
}

.sortiment-pizza {
    color: #555;
    font-weight: bold;
    width: 16%;
}

.ingrediente {
    width: 43%;
}

.gramaj {
    width: 12%;
}

.pizza-button {
    width: 100px;

}

.btn-primary {
    color: rgb(13, 11, 11);
    background-color: rgba(140, 42, 6, 0.48);
    border: none;
    border-radius: .3em;
    font-weight:bold ;
    font-size: 4vw;
}

.btn-primary:hover {
    background-color:rgba(214, 108, 67, 0.688);
}

@media only screen and (max-width: 900px) {
    .grid {
        display: inherit;
        margin-top: 0px;
    }
    
    .container {
        max-width: 100%;
    }
}

.shop-item {
    margin: 30px;
    flex: 0;
}

.shop-item-title {
    display: block;
    width: 30%;
    height: auto;
    text-align: center;
    font-weight: bold; 
    font-size: 1.8em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    width: 100%;
    height: 68%;
}

.shop-item-details {
    display:grid;
    align-items:center;
    padding: 5px;
    font-size: 2vw;
    max-width: 500px;
    min-width: 500px;
}

.cart-item-price {
    flex-grow: 1;
    color: #333;
    display:grid;
    min-height: 150px;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 3vw;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: .5em;
    margin-left: .5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display:flex;
    margin-top: 20px;
}


.item-ingredients {
    align-self:baseline;
    text-align:justify;
    /* font-weight: lighter;  */
    font-size: 3vw;
    color: #333;
    margin-bottom: 10px;
    padding: 0 10px 0 10px;
}

.cart-item {
    width: 60%;
}

.cart-price {
    width: 15%;
    font-size: 3vw;
    color:#333;
}

.cart-quantity {
    width: 25%;
}

/* .cart-item-title {
    color:#333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 300px;
    height: auto;
    border-radius: 10px;
} */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1rem;
      line-height:1.2 ;

    }
  
    .featurette-heading {
      font-size: 50px;
      color: #333;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

.carousel-caption  p {
    margin: 10px 0 0 0;
    font-family: Lobster;
    font-weight: bold;
    font: size 1.5em; ;
    color:#FFF9CA;
    text-shadow:2px 2px 4px  #000;
}

.carousel-caption  h5 {
    margin: 10px 0 0 0;
    font-family: Lobster;
    font-weight: bold;
    font: size 1.5em; ;
    color:#FFF9CA;
    text-shadow:2px 2px 4px  #000;
}


figure {
    padding: 5px;
}

.btn-danger {
    color: antiquewhite;
    background-color: brown;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger-hover {
    background-color: burlywood;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: .3em;
    border: 2px solid rgba(95, 50, 7, 0.608);
    background-color: bisque;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom:  1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 15px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.content-section .carousel {
    margin: 0 auto;
    width: 80% ;
    max-height:min-content;
    margin-bottom: 15px;
}

/* sticky note */

.container-sticky-1 {
    position: sticky;
    width: 15%;
    min-width: 190px;
    text-align: center;
    font-weight: bold;
    top: 3rem;
    margin: 0 auto;
    color: brown;
  }

  .container-sticky-2 {
    position: sticky;
    width: 15%;
    min-width: 190px;
    text-align: center;
    top: 8rem;
    margin: 0 auto;
    color: #a1816c;
    text-shadow: 1px 1px 2px #d555;
  }

  
.container-sticky-3 {
    display: flex;
    position: sticky;
    /* width: 15%; */
    text-align: center;
    font-weight: bold;
    font-size: small;
    top: 5rem;
    float: right;
    /* align-self: flex-end; */
    color: #a1816c;
    text-shadow: 1px 1px 2px #d555;
  }

  .container-sticky-4 {
    display: flex;
    position: sticky;
    /* width: 15%; */
    text-align: center;
    top: 5rem;
    float: left;
    /* align-self: flex-start; */
    color: #a1816c;
    text-shadow: 1px 1px 2px #d555;
  }


  a {
    color: #333;
    text-decoration: none;
  }

  .container > h2 {
    margin-top: 0px;
  }

  .carousel > h2 {
    margin: 30px;
  }