@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata");
@import url("https://fonts.googleapis.com/css2?family=Metal+Mania");

@font-face {
    font-family: "Booter - zero zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-size: normal;
}   

* {
    box-sizing: border-box;
    font-family: Lobster;
    color: rgba(255, 255, 255, 0.);  
}

html, body {
    margin: 0;
    padding: 0;
}

 .grid { 
    /* background-image:url("Imagine2 Caramizi.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  */
    font-family: Lobster;
    font-size: 1.8em;
  }

.nav ul {
    margin: 0;
    font-size: 40px;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: #eae6f0dd;
    text-decoration:none ;
}

.main nav {
    text-align: center;
    font-size: 2.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(246, 244, 243, 0.344);
}

.main nav li {
    padding: 0 5%;
    display: inline;
}
 
.nav a:hover {
    background-color: rgba(248, 135, 135, 0.33);
}

.nav .call-button {
    font-size: .8em;
    
}


.nav .contact {
    align-self:flex-end;
}



/* .contact li {
    color: rgb(246, 242, 238);
    font-size: 1em;
    font-weight: lighter;
    /* display:inline block; */
    /* margin-inline-start: 85% ;
    } */ 

.main-header {
    background-color: rgba(85, 6, 6, 0.6);
    background-image: url("Imagini/Imagine Caramida.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom:20px;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.numele-pizzeriei {
    text-align: center;
    margin:0;
    font-size: 4em;
    font-family: "booter - zero zero";
    font-weight: normal;
    color:rgb(244, 242, 248)
}

.numele-pizzeriei-large {
    font-size: 10em;
}

.content-section, .content2-section {
    margin: 1em;
    font-size: 1.2em;
    text-align: justify;
}

.column {
    float: left;
    width: 50%;
    padding: 6px;
}

.row {
    content: "";
    clear: both;
    display: table;
}


.container {
    max-width: 50%;
    margin-left: 20;
    padding: 0 1.0em;

}

.section-header {
    font-family: "metal mania";
    font-weight: normal;
    color:rgb(101, 14, 14);
    text-align:center;
    font-size: 2.5em;

}

.semnul-logo-Maria {
    float: left;
    height: 250px;
    width: 350px;
    margin: 15px;
    border-radius: 50%;
    
}

.main-footer {
    background-image: url("Imagini/Imagine Caramida.jpg");
    background-size: cover;
    color: antiquewhite;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.main-footer li{
    padding: 1 .9em;
}

.main-footer ul{
    padding: 0px;
}

 .footer-nav img {
    width: 70px;
    height: 50px;     
}
.grid {
    display: flex;
    gap: 30px   
}

.content2-section > img {
    margin-top: 20px;
} 

.btn {
    text-align:center;
    vertical-align: middle;
    padding: .5em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 4px solid rgba(218, 137, 94, 0.789);
    background-color: rgba(197, 76, 16, 0.305);
    font-size: 1.5em;
    font-weight: lighter;
    border-radius: .3em;

}

.btn-header:hover {
    background-color: rgba(214, 108, 67, 0.688);
}

.pizza-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

/* pentru a elimina last border din sortimentatie */
.pizza-row:last-child {
    border-bottom: none;
}

.pizza-item {
    display: absolute;
    padding-right: .5em;
}

.sortiment-pizza {
    color: #555;
    font-weight: bold;
    width: 16%;
}

.ingrediente {
    width: 43%;
}

.gramaj {
    width: 12%;
}

.pizza-button {
    width: 100px;

}

.btn-primary {
    color: rgb(13, 11, 11);
    background-color: rgba(140, 42, 6, 0.48);
    border: none;
    border-radius: .3em;
    font-weight:bold ;
    font-size: 1em;
}

.btn-primary:hover {
    background-color:rgba(214, 108, 67, 0.688);
}

@media only screen and (max-width: 1000px) {
    .grid {
        display: inherit;
        gap: 30px   
    }
    
    .container {
        max-width: 100%;
        margin-left: 20;
        padding: 0 1.0em;
    }
}

.shop-item {
    margin: 30px;
    flex: 0;
}

.shop-item-title {
    display: block;
    width: 30%;
    height: auto;
    text-align: center;
    font-weight: bold; 
    font-size: 1.8em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    width: 100%;
    height: 68%;
}

.shop-item-details {
    display:grid;
    align-items:center;
    padding: 5px;
    font-size: 30px;
    max-width: 500px;
    min-width: 500px;

}

.shop-item-price {
    flex-grow: 1;
    color: #333;
    display:grid;
    min-height: 150px;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: .5em;
    margin-left: .5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display:flex
}


.cart-item-ingredients {
    display:inline-flexbox;
    /* width: 70%;
    height: 90%; */
    text-align:justify;
    font-weight: lighter; 
    font-size: 1em;
    color: #333;
    margin-bottom: 10px;
    padding: 0 10px 0 10px;
}

.cart-item {
    width: 65%;
}

.cart-price {
    width: 15%;
    font-size: 1.2em;
    color:#333;
}

.cart-quantity {
    width: 25%;
}

.cart-item-title {
    color:#333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: antiquewhite;
    background-color: brown;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger-hover {
    background-color: burlywood;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid rgba(65, 235, 39, 0.48);
    background-color: bisque;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom:  1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 15px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.d-block w-100 {
    width: 80%;
    height: auto;
}

.carousel-inner {
    width:60%;
    max-height: 500px !important;

}

.carousel-inner > .item > img {
    width: 100%;
    max-width: 640px;
    height: auto;
}